img {
    width: 250px;
    height: 120px;
}

.text-img {
    text-align: left !important;
    color: black !important;
    font-size: 15px !important;
}

.margins {
    margin-top: 2px !important;
    margin-bottom: 5px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
}
