.line {
    position: absolute;
    width: 19%;
    height: 0px;
    left: 7%;
    top: 41%;

    border: 1px solid #000;
}

.continue {
    position: absolute;
    width: 45%;
    height: 24px;
    left: 27%;
    top: 39%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 24px;

    color: #000;
}

.input {
    box-sizing: border-box;

    position: absolute;
    width: 90%;
    height: 50px;
    left: 5%;
    top: 55%;
    text-align: left;
    font-size: 26px;

    color: black;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 6px;
}

.input::placeholder{
    font-size: 26px; 
    color: gray;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
}

.dropdown-show {
    display: block;
}

.dropdown-item {
    box-sizing: border-box;

    position: relative;
    width: 100%;
    height: 52px;
    left: 0px;
    top: 10px;
    background-color: white;

    border: 1px solid #000000;
    border-radius: 6px;
}

.text-select {
    margin: 0px;
    padding-top: 10px;
    padding-left: 2px;
}

.login {
    box-sizing: border-box;

    position: absolute;
    width: 50%;
    height: 52px;
    left: 25%;
    top: 185%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    background: #F8D49E;
    border: 1px solid #000000;
    border-radius: 33px;
}

.account {
    position: absolute;
    width: 100%;
    height: 24px;
    left: 0%;
    top: 210%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.not-correct {
    position: absolute;
    margin: 0px;
    top:64%;
    left:5%;
    

    color: red;
}


.error-sub {
    position: absolute;
    font-size: 20px; 
    top: 195%;
    display: block; 
    z-index: -2;
    left: 24%;
    color: red;
    
}